<section class="txt-box" id="chap-1">
    <p><b>About Michael Asher</b></p>
    <p>Michael Max Asher (July 15, 1943 – October 15, 2012) was a conceptual artist, described by The New York Times as "among the patron saints of the Conceptual Art phylum known as Institutional Critique, an often esoteric dissection of the assumptions that govern how we perceive art."[1] Rather than designing new art objects, Asher typically altered the existing environment, by repositioning or removing artworks, walls, facades, etc.</p> 
    <p>Asher was also a highly regarded professor of art, who spent decades on the faculty at California Institute of the Arts.[2] Cited by numerous successful artists as an important influence in their development, Asher's teaching has been described by British journalist Sarah Thornton as his "most influential" work.[3]</p>
          
</section>
